* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(30, 29, 29);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{

    perspective: 4000px;
}

.header {
    height: 110px;
    width: 100%;
    padding: 5px 20px;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.score {
    font-size: 63px;
}


.header>.innermain>.contain {

    display: flex;
    gap: 20px;

}

.header>.score {
    display: flex;
    margin-top: -30px;
    justify-content: start;
    flex-direction: column;
    height: 70%;
}

.header>.innermain>.contain>div {
    background-color: white;
    color: black;
    height: 4.6vw;
    width: 4.6vw;
    align-content: center;
    text-align: center;
    font-size: 19px;
    border-radius: 5px;

}

.header>.innermain>.contain>div:hover {
    cursor: pointer;
}

.header>.contain>div:active {
    transform: scale(0.9);
}



.main {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    transition: all 1s ;
    transition-duration:ease-in;
    /* transform: scale(0.5); */
    margin-top: 100px;
    transform-style: preserve-3d;
    position: relative;
    
    /* animation: rotate 1s linear infinite; */
    /* animation-play-state: paused; */
}





@keyframes rotate {

    from {
        transform: rotateY(0deg) rotateX(0deg);
    }

    to {
        transform: rotateY(360deg) rotateX(360deg);
    }


}

.main>#box {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
}

.main>.front {
    transform: translateZ(147px);
}

.main>.back {
    transform: translateZ(-148px);
}

.main>.top {
    transform: rotateX(90deg) translateZ(-150px);
}

.main>.bottom {
    transform: rotateX(90deg) translateZ(147px);
}

.main>.right {
    transform: rotateY(90deg) translateZ(148px);
}

.main>.left {
    transform: rotateY(90deg) translateZ(-150px);
}
